<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:text="${trip.}"></div>
<table>
    <!--/*@thymesVar id="route" type="com.telegram.weather.bot.model.Route"*/-->
    <th:block th:each="routePart : ${route.}">
        <tr>
            <td th:text="${routePart.routeDescription}">...</td>
            <td th:text="${route.routeId}">...</td>
        </tr>
    </th:block>
</table>

</body>
</html>
